
<div class="hero is-fullheight">
  <div class="hero-text">
    <h1 class="has-text-centered is-size-3">Stay informed on the ever-evolving world of fashion.</h1>
    <br>
    <a href="/login" class="button is-size-5 has-text-centered" id="heroButton">Login or Signup</a>
  </div>
</div>
