<div class="text-center">
  <p>{{post.description}}</p>
  <article class="media">
    <figure class="media-left">
      <p>
        {{comment.text}}
      </p>
    </figure>
    <p>
      <button class="btn btn-primary">Fund this Project!</button>
    </p>
</div>
</article>