nav {
    font-family: 'Bungee', sans-serif;
    color: rgb(227, 27, 27) !important;
}

nav a,
footer {
    color: rgb(227, 27, 27) !important;
}

body,
html {
    height: 100%;
}

.hero {
background-image: url("../images/hero.png");

height: 100%;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
    font-family: 'Bungee', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(245, 241, 241);
}

#heroButton {
    font-family: 'Bungee', sans-serif;
    color: rgb(227, 27, 27);
}

/* .is-fullheight-100vh {
    height:100vh
} */

#post-image {
    width: 50%;
    height: 50%;
}

#dash-title,
#profile-greeting {
    font-family: 'Bungee', sans-serif;
}

#logout {
    font-family: 'Bungee', sans-serif;
    color: rgb(227, 27, 27);
}